/*
@Name：不落阁后台模板源码
@Author：wangsen
@Site：http://www.wangsenphp.cn
*/
@charset "UTF-8";
/*分页样式*/
.page_list{
    float:right;
    margin-right:13%;
}
.page_list .pagination li{
    float:left;
    display: inline-block;
    vertical-align: middle;
    padding: 0 18px;
    border: 1px solid #e2e2e2;
    height: 35px;
    line-height: 35px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 15px;
}
.page_list .pagination li.active{
    background-color: #009688;
    color: #fff;
    font-weight: 400;
}